module <%= class_name %>
  ROUTES = ::Kapellmeister::Base.routes_scheme_parse('app/lib/<%= file_name %>/routes.yml')

  class << self
    include ::Kapellmeister::Base

    delegate <%= initialize_signatures.map { |k| ":#{k}" }.join(', ') %>, to: :configuration

    def ssl
      @ssl ||= (Rails.try(:env) || ENV['APP_ENV']) != 'development'
    end
  end
end
